.services-section {
    position: relative;
}

.services-bg{
    opacity: 0.75;
    object-fit: cover;
}

.services-content {
    position: relative;
    z-index: 1;
    padding: 4rem 2rem;
}

.services-list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    color: #454545;
}

.expanse-therapy img {
    object-position: center 50%;
}

.five-continents-massage img {
    object-position: bottom;
}

.vibecodes-therapy img {
    object-position: center;
}

.five-continents-massage,
.expanse-therapy,
.vibecodes-therapy {
    flex: 1;
}