.faq-section {
    background-color: #FAF9FD;
    margin-bottom: 4rem;
}

.faq-ask {
    display: flex;
    align-items: end;
}

.faq-hero {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-hero-title {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.faq-hero-title h1 {
    font-weight: 500;
}

.faq-ask-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
}

.faq-ask-text h3 {
    font-weight: 500;
    font-size: 1.2rem;
}

.faq-ask-text p {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .faq-hero {
        height: auto;
        max-height: none;
        padding: 1.9rem 0;
    }

    .faq-hero-title {
        font-size: 1rem;
    }

    .faq-ask {
        flex-direction: column;
        align-items: center;
    }

    .faq-ask-text {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .faq-hero-title {
        font-size: 0.85rem;
        padding-bottom: 1.5rem;
    }
}