.intro-social-wrapper {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-social {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform-origin: center;
}

.intro-social:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.4);
}

.intro-social a {
    width: 2.5rem;
    display: flex;
    align-items: center;
}

.icon-social svg {
    width: 100%;
    height: auto;
    fill: #faecca;
}

.icon-social:hover svg {
    fill: #FFD700;
}

@media (max-width: 768px) {
    .icon-social svg {
        height: 1.5rem;
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .icon-social svg {
        width: 2rem;
    }
}