/* HERO */

.hero {
  position: relative;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  gap: 8rem;
}

.hero hr {
  width: 60%;
  border: 1px solid #454545;
}

.hero h1 {
  position: absolute;
  color: #454545;
  font-size: 5rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

/* GALLERY */

.gallery-container {
  padding: 2rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  grid-auto-rows: 250px;
}

.grid-item {
  overflow: hidden;
  border-radius: 8px;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.grid-item:hover img {
  transform: scale(1.05);
}

/* Special layout elements */

.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

/* ============================= */
/* TABLET */
@media (max-width: 1024px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .tall,
  .wide {
    grid-column: span 1;
    grid-row: span 1;
  }
}

/* ============================= */
/* MOBILE */
@media (max-width: 768px) {

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero {
    height: 30vh;
    gap: 5rem;
  }

  .hero hr {
    width: 80%;
  }

  .gallery-container {
    padding: 1rem;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 220px;
  }

  .tall,
  .wide {
    grid-column: span 1;
    grid-row: span 1;
  }
}
