/* ===== ABOUT SECTION ===== */
.about-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F1ED;
}

.about-content {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    padding: 4rem 2rem;
    max-width: 1200px;
    width: 100%;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-content img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-text-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.about-text {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    position: relative;
    max-height: 400px;
    overflow: hidden;
}

.about-text p {
    margin-bottom: 1rem;
}

.about-text h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

.about-text h3 {
    font-size: 1.3rem;
    font-weight: 400;
    font-style: italic;
    color:#6e6e6e;
}

.about-text h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.about-text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #F5F1ED);
    pointer-events: none;
}

.about-more-btn {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.8rem 2rem;
    background-color: #D9AA52;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    font-weight: 500;
}

.about-more-btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.about-btn-wrapper {
    text-align: center;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        gap: 2rem;
    }

    .about-image {
        width: 100%;
    }

    .about-content img {
        max-width: 300px;
    }

    .about-text-wrapper {
        width: 100%;
    }

    .about-text h1 {
        font-size: 2rem;
        text-align: center;
    }

    .about-text h3 {
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
    }

    .about-text p {
        text-align: justify;
        font-size: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .about-content {
        max-width: 900px;
        padding: 1.5rem;
    }

    .about-content img {
        max-width: 500px;
    }

    .about-text-wrapper {
        max-width: 600px;
        margin: 0 auto;
    }

    .about-text h1 {
        font-size: 2.1rem;
    }

    .about-text h3 {
        font-size: 1.3rem;
    }
}