footer {
    background: #454545;
    padding: 100px 80px 20px 80px;
    color: #faecca;
}

.footer-info-wrapper {
    padding: 1rem 0;;
}

.footer-copyright {
    text-align: center;
    color: #faecca;
    font-size: 0.9rem;
    padding: 0.5rem 0;
}

.footer-nav-wrapper {
    border-top: #faecca 1px solid;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.footer-nav a {
    color: #faecca;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.25s ease;
}

.footer-nav a:hover {
    color: #D9AA52;
}

.footer-nav-img {
    display: flex;
}

.footer-info-contact svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #D9AA52;
    margin-right: 0.5rem;
}

.footer-info-contact p {
    font-weight: 500;
}

.info-email, .info-phone, .info-location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.footer-info-wrapper h2 {
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
}

.footer-info-wrapper p {
    font-size: 1rem;
    margin: 0;
}

.footer-info-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

/* Social media icons */

.intro-social {
    display: flex;
    gap: 0.8rem;
}

.intro-social a {
    width: 2.1rem;
    display: flex;
    align-items: center;
}

.icon-social svg {
    width: 100%;
    height: auto;
    fill: #faecca;
}

.icon-social:hover svg {
    fill: #D9AA52;
}