footer {
    background: #454545;
    padding: 100px 80px 20px 80px;
    color: #faecca;
}

.footer-info-wrapper {
    padding: 1rem 0;;
}

.footer-copyright {
    text-align: center;
    color: #faecca;
    font-size: 0.9rem;
    padding: 0.5rem 0;
}

.footer-nav-wrapper {
    border-top: #faecca 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.footer-nav a {
    color: #faecca;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.25s ease;
}

.footer-nav a:hover {
    color: #FFD700;
}

.footer-nav-img {
    display: flex;
}
