.hero {
    background-color: #FFFFFF;
    padding: 1rem;
    text-align: center;
}

.five-continents-section {
    max-width: 1000px;
    margin: 0 auto;
}

.five-continents-section h1 {
    text-align: center;
    color: #454545;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 2.3rem;
}

.five-continents-section h2 {
    color: #454545;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
}

.intro-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
}

.intro {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    font-size: 0.9rem;
    max-width: 800px;
}

.intro ul {
    margin: 1.5rem 0 1.5rem 5rem;
}

