.intro-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 83vh;
    color: #faecca;
    z-index: 1;
    background: #333;
}

.intro-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    filter: brightness(0.6);
    opacity: 0;
    transition: opacity 1.5s ease;
    aspect-ratio: 16 / 9;
}

.intro-video.loaded {
    opacity: 1;
}

.intro-title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 1rem;
    width: 90%;
    max-width: 1150px;
    z-index: 2;
}

.intro-title h3 {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 500;
}

.intro-social-wrapper {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

@media (max-width: 768px) {
    .intro-title h3 {
        font-size: 1.2rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .intro-title h3 {
        font-size: 2rem;
    }

    .intro-title {
        width: 70%;
    }
}

@media (min-width: 1025px) {
    .intro-title h3 {
        font-size: 2.3rem;
    }

    .intro-title {
        width: 70%;
    }
}